body {
    width: 1680px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h3 {
    height: 18px;
}

ul {
    padding: 0;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}

.logo {
    margin: 22px 0px 0px 240px;
    height: 60px;
}

nav {
    margin: 41px 0px 0px 0px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

li {
    margin-right: 20px;
    list-style: none;
    height: 24px;

}


.language {
    margin: 41px 240px 0px 0px;
}

.intro {
    background-image: url("/images/intro.webp");
    height: 750px;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    z-index: 2;
}

.intro p {
    font-size: 46px;
    width: 840px;
    height: 72px;
}

.text_intro {
    margin: 6% 0px 0px 240px;
    font-weight: bold;
}

.show {
    height: 50px;
    width: 235px;
    margin: 3% 0px 0px 0px;
    font-size: 18px;
    color: white;
    background-color: red;
}

.address {
    margin: -120px 0px 0px 240px;
    display: flex;
    z-index: 1;
}

.address_block {
    width: 300px;
    height: 140px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #000000;
    margin-right: 20px;
    display: flex;
    align-self: center;
    padding: 40px;
}

.address_block h3:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.address_block h3 {
    margin-top: 80px;
    font-weight: 700;
}

.call {
    background: url(/images/call.webp) left top no-repeat;
}

.get {
    background: url(/images/calendar.webp) left top no-repeat;
}

.find {
    background: url(/images/map.webp) left top no-repeat;
}

.services {
    height: 700px;
    width: 1200px;
    margin: 100px 0px 90px 240px;
    font-weight: 700;
}

.services p {
    font-weight: 400;
}

.types_of_services {

    height: 500px;
    width: 1200px;
    display: flex;
}

.types_of_services li {
    position: relative;
    height: 500px;
    width: 386px;
    margin-right: 20px;
    opacity: 0.8;
    transition: opacity 124ms linear, transform 124ms linear;
    display: block;
}

.types_of_services li p {
    font-weight: 600;
}

.types_of_services img {
    position: absolute;
    top: 40%;
    left: 37%;
    opacity: 0;
}



.types_of_services li:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.05);
}

.types_of_services li:hover img {
    cursor: pointer;
    opacity: 1;
}

.types_of_services p {
    margin-top: 530px;
    font-size: 20px;
    font-style: 900;
}


.types_of_services li:nth-child(1) {
    background: url(/images/service1.webp);
}

.types_of_services li:nth-child(3) {
    background: url(/images/service2.webp);
}

.types_of_services li:nth-child(4) {
    background: url(/images/service3.webp);
}

.understand {
    height: 665px;
    width: 1680px;
    display: flex;
    color: white;
    background-color: #000000;
}

.understand_left {
    margin: 120px 180px 115px 240px;
    width: 500px;
    height: 430px;
}

.understand_left h3 {
    text-decoration-line: underline;
    font-style: normal;
}

.understand_right {
    width: 513px;
    height: 342px;
    margin-top: 120px;
    background: url(/images/aboutUs.webp);
}

.fast_section {
    margin: 100px 240px 100px 240px;
    height: 530px;
    width: 1200px;
    text-align: center;
}

.fast_section h1 {
    font-size: 148px;
    margin-bottom: 40px;
    font-weight: 900;
}


.fast_section h2 {
    font-size: 40px;
    margin-bottom: 80px;
}

.fast_section ul {
    width: 1200px;
    height: 150px;
}

.fast_section li {
    box-shadow: 0px 0px 10px 0px #000000;
    height: 150px;
    width: 386px;
    padding-top: 35px;
}

.contact {
    width: 1680px;
    height: 665px;
    background-color: black;
    color: white;
}

.inner_contact {
    width: 440px;
    height: 465px;
    margin: 100px 1000px 0px 230px;
    padding-top: 90px;
}

.inner_contact h1 {
    margin-bottom: 70px;
}

.inner_contact textarea {
    width: 432px;
    background-color: #000000;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    margin-bottom: 30px;
}

.inner_contact input {
    width: 209px;
    background-color: #000000;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    margin-bottom: 30px;
}

.inner_contact button {
    background: red;
    border: 0;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.footer {
    height: 150px;
    width: 1680px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    padding-left: 240px;
}

.right_icons {
    height: 25px;
    width: 100px;
    margin-top: -30px;
    padding-right: 240px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
    border: 5px solid #7B1FA2;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}




.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: silver;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
    vertical-align: text-top;
    color: white;
}


.modal-footer {
    padding: 2px 16px;
    background-color: #9C27B0;
    color: white;
}

#modal_diagnostic .modal-content {
    position: relative;
    background-color: black;
    background: url(/images/service1.webp) no-repeat center cover;
    margin: auto;
    padding: 0;
    border: 5px solid silver;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}